body {
  font-family: Arial, sans-serif;
  background-image: url('./img/parchment.jpg'); /* Path to your parchment image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  padding: 20px;
  margin: 0; /* Remove default margin */
  min-height: 100vh; /* Ensures the body takes up the full viewport height */
}

h1 {
  text-align: center;
  color: #4a2c2a; /* Dark brown for better contrast */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery a {
  display: block;
  width: 300px;
  height: 300px;
  border: 1px solid #8b7355; /* Brown border to match the theme */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}


.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery a .event-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px; /* Increased padding for better spacing */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery a:hover .event-details {
  opacity: 1;
}

.event-details {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
}

.event-details h2 {
  margin: 0 0 15px;
  font-size: .9em;
  color: #4a2c2a; /* Dark brown for better contrast */
}

.details-container {
  width: 100%;
}

.event-details .year {
  text-align: left;
  margin: 10px 0; /* Increased margin for better spacing */
  font-size: .7em; /* Increased font size for better readability */
  color: #4a2c2a; /* Dark brown for better contrast */;
}

.event-details .related {
  text-align: left;
  margin: 10px 0; /* Increased margin for better spacing */
  font-size: .7em; /* Increased font size for better readability */
  color: #4a2c2a; /* Dark brown for better contrast */;
}